body{
    background-color: rgb(150, 233, 55);
    text-align: center;
    color: rgb(170, 88, 224);
}
#contenido{
    max-width: 50%;
    align-content: center;
    border: 2px;
    background-color: rgb(150, 233, 55);
}
#contenido img{
    max-width: 20 rem;
    align-items: center;
}